h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0 0;
}

figure.right-aligned > img {
  float: right;
  width: 70%;
  height: 50%;
  margin: 0 0 2rem 2rem;
}

figure.centered {
    text-align: center;
}

@media only screen and (max-width: 768px) {
  figure.right-aligned > img {
    float: none;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
